# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Data/cache artifacts
shab_data/
*.parquet
*.lock

# Generated web artifacts
static/*.png
static/status.json

# Temp files
*.tmp
